.App {
  margin: 2rem;
}

.header {
  display: flex;
  width: 100%;
}

.header-title {
  flex: 1;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border: 1px solid gray;
  text-transform: capitalize;
}

.data-wrapper {
  padding-bottom: 5rem;
}

.header-title:hover {
  background-color: lightgray;
}

.header-title.active {
  font-weight: bold;
}

.data-row-container {
  margin: 5px;
  border: 1px solid black;
  padding: 4px;
}

.card-container {
  border: 1px solid gray;
  padding: 5px;
  margin: 5px;
}

.card-row {
  display: flex;
  border-bottom: 1px solid black;
  padding: 5px;
}

.card-row .header {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* vertical-align: center; */
  /* translate: 0 50%; */
  /* top: 50%; */
}

.card-name {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}